body {
  background-color: rgb(227, 239, 229);
}

h1 {
  font-size: clamp(4rem, 4vw, 6rem);
  color: rgb(159, 188, 164);
  font-weight: 100;
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
  color: rgb(159, 188, 164);
  font-weight: 400;  
  margin-bottom: 40px;
}

.navbar {
  background-color: rgba(51, 255, 255, 0.286);
}

footer {
  margin-top: 50px;
}