.navbar {
  background-color: aqua;
}

.box 
{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.scale:hover {
  transform: scale(1.3);
}

.scale-x:hover {
  transform: scaleX(1.3);
}

.rotate:hover {
  transform: rotate(180deg);
}

.skew:hover {
  transform: skew(-45deg);
}

.skew2:hover {
  transform: skew(-45deg, 60deg);
}

.translate:hover {
  transform: translate(5px, 12px);
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: rgb(18, 65, 119);
  transition: 0.3s ease-in-out;
  animation-name: bgcolorAnimate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes bgcolorAnimate {
  from { background-color: red;}
  to { background-color: yellow;}
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: rgb(18, 65, 119);
  transition: 1.0s ease-in-out;
  animation-name: bgcolor2Animate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes bgcolor2Animate {
  0% { background-color: red;}
  25% { background-color: yellow;}
  35% { background-color: rgb(153, 0, 255);}
  50% { background-color: green; transform:scale(1000.5);}
  75% { background-color: blue; transform: rotate(180000deg);}
  85% { background-color: rgb(0, 255, 30);}
  100% { background-color: red;}
}

.boxrace {
  width: 100px;
  height: 50px;
  background-color:rgb(0, 255, 30);
  position: relative;
  animation: boxraceAnimate 5s infinite;
}

.race1 {animation-timing-function: linear;}
.race2 {animation-timing-function: ease;}
.race3 {animation-timing-function: ease-in;}
.race4 {animation-timing-function: ease-out;}
.race5 {animation-timing-function: ease-in-out;}

@keyframes boxraceAnimate {
  from { left: 0px;}
  to { left: 300px;}
}