.box {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 94, 72, 0.543);
  border: 3px solid rgba(111, 255, 0, 0.246);
  border-radius: 13px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

.box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
  background-color: blueviolet;
  border: 3px solid rgb(111, 255, 0);
}


.scale:hover {
  transform: scale(1.2);
  background-color: rgba(60, 34, 7, 0.498);
  background-image: url("../../public/images/square1.webp");
  background-blend-mode: color;
}

.scale-x:hover {
  transform: scaleX(1.3);
  background-color: rgba(60, 34, 7, 0.498);
  background-image: url("../../public/images/square2.png");
  background-blend-mode: color;
  background-position: center;
}

.rotate:hover {
  transform: rotate(335deg);
  background-color: rgba(60, 34, 7, 0.498);
  background-image: url("../../public/images/square3.png");
  background-blend-mode: color;
  background-position: center;  
}

.skew:hover {
  transform: skew(-23deg);
  background-color: rgba(60, 34, 7, 0.498);
  background-image: url("../../public/images/square4.png");
  background-blend-mode: color;
  background-position: center;   
}

.skew2:hover {
  transform: skew(-25deg, 20deg);
  background-color: rgba(60, 34, 7, 0.498);
  background-image: url("../../public/images/square5.png");
  background-blend-mode: color;
  background-position: center;    
}

.translate:hover {
  transform: translate(15px, -52px);
  background-color: rgba(60, 34, 7, 0.498);
  background-image: url("../../public/images/square6.png");
  background-blend-mode: color;
  background-position: center;     
}